{% extends "base.html" %}
{% block container %}
<script>
    function cp() {
        var copyText = document.getElementById("link");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
    }
</script>

<body>
    <br><br><br>
    <center>
        <img src="static/success.png">
        <br><br><br>
        <h3>Upload Complete!</h3>
        <input type="text" value="{{ blob_name }}" id="link" size="75">
        <button onclick="cp()">Copy</button>
    </center>
</body>
{% endblock %}
