[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"
black = "*"

[packages]
flask = "*"
azure-storage-blob = "*"
msal = "*"
gunicorn = "*"
flask-session = {editable = true, git = "https://github.com/rayluo/flask-session", ref = "0.3.x"}
werkzeug = "*"

[requires]
python_version = "3.10"
